site/.bundle
site/db/*.sqlite3
site/log/*.log
site/tmp/**/*
site/config/*.yml
*.swp
*.pyc


site/app/views/taglibs/auto
site/public/javascripts/hobo-rapid.js
site/public/javascripts/lowpro.js
site/public/javascripts/IE7.js
site/public/javascripts/ie7-recalc.js
site/public/javascripts/blank.gif
site/public/stylesheets/reset.css
site/public/stylesheets/hobo-rapid.css
site/public/hobothemes/clean
site/public/hobothemes/clean-sidemenu
site/app/views/taglibs/themes/clean
site/app/views/taglibs/themes/clean-sidemenu
